/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  background-color: #f4f4f4;
  overflow: auto;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

#navbar a {
  text-decoration: none;
  color: #333;
}

#navbar .logo {
  float: left;
  text-align: center;
  padding: 10px;
  font-size: 40px;
  color: #6753D8;
}

#navbar ul {
  float: right;
  
}

#navbar ul li {
  list-style: none;
  float: left;
}

#navbar ul li a {
  display: block;
  text-align: center;
  padding: 20px;
}

#navbar ul li a:hover,
#navbar ul li .current {
  background-color: #c7c4d8;
  color: #6753D8;;
}

#home-info .home-content {
  float: left;
  border: 1px solid black;
}

#home-info .home-display {
  float: right;
  border: 1px solid black;
}

