/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.text-main {
  color: #6753D8;
}

.py-1 {padding: 10px 0;}
.py-2 {padding: 20px 0;}
.py-3 {padding: 30px 0;}

#navbar {
  background-color: #f4f4f4;
  overflow: auto;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 10px;
}

#navbar a {
  text-decoration: none;
  color: #333;
}

#navbar .logo {
  float: left;
  text-align: center;
  padding: 10px;
  font-size: 40px;
  color: #6753D8;
}

#navbar ul {
  float: right;
  
}

#navbar ul li {
  list-style: none;
  float: left;
}

#navbar ul li a {
  display: block;
  text-align: center;
  padding: 20px;
}

#navbar ul li a:hover,
#navbar ul li .current {
  background-color: #c7c4d8;
  color: #6753D8;;
}

#home-info {
  /* margin-top: 20px; */
  height: 450px;
  /* border: 1px solid black; */
}

#home-info .home-content {
  float: left;
  width: 35%;
  height: 100%;
  padding: 30px;
  
  /* border: 1px solid black; */
}

#home-info .home-content .fx {
  font-size: 2.5rem;
}

#home-info .home-display {
  float: right;
  width: 65%;
}

#home-info .home-display img {
  /* border-radius: 50%; */
  display: block;
  margin: auto;
  width: 100%;
}

.home_image img {
  display: inline-block;
}

.download {
  padding-top: 25px;
}

.download p {
  padding-bottom: 10px;
}



